<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE syntax SYSTEM "../Menu.dtd">
<?xml-stylesheet type="text/xsl" href="../Menu.xsl"?>
<menu>
  <menu title="Alapok">
    <menu title="PowerShell parancsértelmező">
      <menu title="Áttekintés"      link="About_PowerShell"/>
      <menu title="Telepítés"       link="Install_PowerShell"/>
      <menu title="Verziófrissítés" link="Update_PowerShell"/>
      <menu title="Eltávolítás"     link="Remove_PowerShell"/>
    </menu>
    <menu title="Help tájékoztatórendszer">
      <menu title="Ismertetés" link="About_Help"/>
    </menu>
    <menu title="Command parancsfelderítő">
    </menu>
    <menu title="Host - a parancssori ablak">
    </menu>
  </menu>
  <menu title="Adattárak, Tárkezelők, Alapparancsok, AdatTárHelyKezelők">
  </menu>
</menu>
