<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE syntax SYSTEM "../Menu.dtd">
<?xml-stylesheet type="text/xsl" href="../Menu.xsl"?>
<menu>
  <menu title="Alapok">
    <menu title="PowerShell">
      <menu title="Ismertetés" link="About_PowerShell"/>
      <menu title="Telepítés"  link="Install_PowerShell"/>
      <menu title="Indítás"    link="Start_PowerShell"/>
      <menu title="Frissítés"  link="Update_PowerShell"/>
      <menu title="Kilépés"    link="Stop_PowerShell"/>
      <menu title="Törlés"     link="Remove_PowerShell"/>
    </menu>
    <menu title="Ismertetés" link="About_PowerShell"/>
    <menu title="Telepítés"  link="Install_PowerShell"/>
    <menu title="Indítás"    link="Start_PowerShell"/>
    <menu title="Frissítés"  link="Update_PowerShell"/>
    <menu title="Kilépés"    link="Stop_PowerShell"/>
    <menu title="Törlés"     link="Remove_PowerShell"/>
  </menu>
  <menu title="Ismertetés" link="About_PowerShell"/>
  <menu title="Telepítés"  link="Install_PowerShell"/>
  <menu title="Indítás"    link="Start_PowerShell"/>
  <menu title="Frissítés"  link="Update_PowerShell"/>
  <menu title="Kilépés"    link="Stop_PowerShell"/>
  <menu title="Törlés"     link="Remove_PowerShell"/>
</menu>
