<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE syntax SYSTEM "../Menu.dtd">
<?xml-stylesheet type="text/xsl" href="../Menu.xsl"?>
<menu>
  <menu title="Első lépések, felderítőeszközök">
    <menu title="A PowerShell parancsértelmező">
      <menu title="Áttekintés"      link="About_PowerShell"/>
      <menu title="Telepítés"       link="Install-PowerShell"/>
      <menu title="Verziófrissítés" link="Update-PowerShell"/>
      <menu title="Eltávolítás"     link="Remove-PowerShell"/>
    </menu>
    <menu title="A Help tájékoztatórendszer">
      <menu title="Áttekintés"        link="About_Help"/>
      <menu title="A súgó naprakészen tartása, frissítése" link="Update-Help"/>
      <menu title="A súgó használata" link="Get-Help"/>
    </menu>
    <menu title="A PSReadLine parancssorkezelő">
      <menu title="Áttekintés"                  link="About_PSReadLine"/>
      <menu title="A parancssori ablak - Host"  link="About_Host"/>
      <menu title="A parancstörténet - History" link="About_History"/>
    </menu>
    <menu title="A parancsfeldolgozó működése">
      <menu title="A parancsok felépítése - Syntax"    link="About_Command_Syntax"/>
      <menu title="Feldolgozandó adatok - Input"       link="Input"/>
      <menu title="Eredménycsatornák - Streams"        link="Streams"/>
      <menu title="Az eredmény elrendezése - Format"   link="Format"/>
      <menu title="Az eredmény megjelenítése - Output" link="Output"/>
    </menu>
    <menu title="Objektumok a futószalagon">
      <menu title="A csővezeték működése - Pipeline"             link="About_Pipeline"/>
      <menu title="Műveletek végrehajtási sorrendje - Operators" link="About_Operators"/>
      <menu title="Egy objektum tulajdonságainak felderítése - Member" link="Get-Member"/>
      <menu title="Sok objektum vagy egy objektumgyűjtemény? - Array"  link="Array_Input"/>
      <menu title="Objektumok összehasonlítása - Compare"        link="Compare-Object"/>
      <menu title="Objektumok szűrése - Where"                   link="Where-Object"/>
      <menu title="Objektumok újrarendezése - Sort"              link="Sort-Object"/>
      <menu title="Objektumok tulajdonságainak kiválogatása - Select" link="Select-Object"/>
      <menu title="Objektumok csoportosítása - Group"            link="Group-Object"/>
      <menu title="Objektumok statisztikai összegzése - Measure" link="Measure-Object"/>
      <menu title="Objektumok egyenkénti feldolgozása - ForEach" link="ForEach-Object"/>
    </menu>
  </menu>
  <menu title="Adattárkezelő alapparancsok">
    <menu title="Adatelérési utak - Path"               link="About_Path"/>
    <menu title="Tárhelyek kezelése - Location"         link="About_Locations"/>
    <menu title="Tárolt elemek felderítése - ChildItem" link="About_ChildItems"/>
    <menu title="Adatelemek kezelése - Item, ItemProperty" link="About_Items"/>
    <menu title="Adattár-szolgáltatók és meghajtók - PSProvider, PSDrive">
      <menu title="Áttekintés"                    link="About_Providers"/>
      <menu title="A fájlrendszer - File System">
        <menu title="Áttekintés"                  link="FileSystem_Provider"/>
        <menu title="Fájlok, mappák és hivatkozások - Item"     link="Create-Files"/>
        <menu title="Fájlok és mappák keresése - ChildItem"     link="Find-Files"/>
        <menu title="Állományok tartalmának kezelése - Content" link="About_Content"/>
        <menu title="Alternatív adatfolyamok - ADS"             link="About_ADS"/>
        <menu title="Hozzáférés-szabályozás - ACL"              link="About_ACL"/>
      </menu>
      <menu title="PowerShell parancsok rövidítései - Alias" link="Alias_Provider"/>
      <menu title="Memóriaváltozók - Variable">
        <menu title="Áttekintés"            link="About_Variables"/>
        <menu title="Felhasználói változók" link="User_Variables"/>
        <menu title="Automatikus változók">
          <menu title="Áttekintés"  link="Automatic_Variables"/>
          <menu title="$null - a változó, aminek nincs értéke" link="Null_Variable"/>
          <menu title="$true, $false - logikai értékek"        link="Boolean_Constants"/>
          <menu title="A parancsértelmező alapjellemzői"       link="PS_Variables"/>
          <menu title="A parancsértelmező állapotváltozói"     link="State_Variables"/>
          <menu title="Szkriptek automatikus változói"         link="Script_Variables"/>
          <menu title="Felsoroló műveletek állapotváltozói"    link="Enumerator_Variables"/>
        </menu>
        <menu title="Preferencia változók"  link="Preference_Variables"/>
        <menu title="Környezeti változók - Environment" link="Environment_Variables"/>
      </menu>
      <menu title="PowerShell függvények - Function"         link="Function_Provider"/>
      <menu title="A regisztrációs adatbázis - Registry"     link="Registry_Provider"/>
      <menu title="A tanúsítványtár - Certificate"           link="Certificate_Provider"/>
    </menu>
  </menu>
  <menu title="A .NET keretrendszer felderítése">
    <menu title="Áttekintés" link="About_.NET"/>
    <menu title="Objektumok - Object" link="About_Object"/>
    <menu title="A közös típusrendszer - CTS" link="About_CTS"/>
  </menu>
</menu>
